
<div layout:fragment="_script">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script th:src="@{lib/html5shiv.js}"></script>
    <script th:src="@{lib/respond.min.js}"></script>

    <script th:src="@{lib/DD_belatedPNG_0.0.8a-min.js}" ></script>

    <!--_footer 作为公共模版分离出去-->
    <script th:src="@{lib/jquery/1.9.1/jquery.min.js}"></script>
    <script th:src="@{lib/layer/2.4/layer.js}"></script>
    <script th:src="@{h-ui/js/H-ui.min.js}"></script>
    <script th:src="@{h-ui.admin/js/H-ui.admin.js}"></script>

    <!--请在下方写此页面业务相关的脚本-->
    <script th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script th:src="@{lib/laypage/1.2/laypage.js}"></script>
</div>
